.git
.github
.idea
.task
data
docker
examples
fuseki
ld-client/node_modules
ld-client/dist
patches
prez/.python_packages
prez/.venv
prez/local.settings.json
prez/requirements.txt
prez-ui/.nuxt
prez-ui/.output
prez-ui/node_modules
